name: {{scheme-name}}
system: {{scheme-system}}
variant: {{scheme-variant}}
slug: {{scheme-slug}}
slug_underscored: {{scheme-slug-underscored}}
description: {{scheme-description}}
author: {{{scheme-author}}}
author-escaped: {{scheme-author}}
is light: {{#scheme-is-light-variant}}true{{/scheme-is-light-variant}}{{^scheme-is-light-variant}}false{{/scheme-is-light-variant}}
is dark: {{#scheme-is-dark-variant}}true{{/scheme-is-dark-variant}}{{^scheme-is-dark-variant}}false{{/scheme-is-dark-variant}}

## hex
base00: {{base00-hex}} base01: {{base01-hex}} base02: {{base02-hex}} base03: {{base03-hex}} base04: {{base04-hex}} base05: {{base05-hex}} base06: {{base06-hex}} base07: {{base07-hex}} base08: {{base08-hex}} base09: {{base09-hex}} base0A: {{base0A-hex}} base0B: {{base0B-hex}} base0C: {{base0C-hex}} base0D: {{base0D-hex}} base0E: {{base0E-hex}} base0F: {{base0F-hex}}
base10: {{base10-hex}} base11: {{base11-hex}} base12: {{base12-hex}} base13: {{base13-hex}} base14: {{base14-hex}} base15: {{base15-hex}} base16: {{base16-hex}} base17: {{base17-hex}} 

## hex-bgr
base00: {{base00-hex-bgr}} base01: {{base01-hex-bgr}} base02: {{base02-hex-bgr}} base03: {{base03-hex-bgr}} base04: {{base04-hex-bgr}} base05: {{base05-hex-bgr}} base06: {{base06-hex-bgr}} base07: {{base07-hex-bgr}} base08: {{base08-hex-bgr}} base09: {{base09-hex-bgr}} base0A: {{base0A-hex-bgr}} base0B: {{base0B-hex-bgr}} base0C: {{base0C-hex-bgr}} base0D: {{base0D-hex-bgr}} base0E: {{base0E-hex-bgr}} base0F: {{base0F-hex-bgr}}
base10: {{base10-hex-bgr}} base11: {{base11-hex-bgr}} base12: {{base12-hex-bgr}} base13: {{base13-hex-bgr}} base14: {{base14-hex-bgr}} base15: {{base15-hex-bgr}} base16: {{base16-hex-bgr}} base17: {{base17-hex-bgr}} 

## hex-r
base00: {{base00-hex-r}} base01: {{base01-hex-r}} base02: {{base02-hex-r}} base03: {{base03-hex-r}} base04: {{base04-hex-r}} base05: {{base05-hex-r}} base06: {{base06-hex-r}} base07: {{base07-hex-r}} base08: {{base08-hex-r}} base09: {{base09-hex-r}} base0A: {{base0A-hex-r}} base0B: {{base0B-hex-r}} base0C: {{base0C-hex-r}} base0D: {{base0D-hex-r}} base0E: {{base0E-hex-r}} base0F: {{base0F-hex-r}}
base10: {{base10-hex-r}} base11: {{base11-hex-r}} base12: {{base12-hex-r}} base13: {{base13-hex-r}} base14: {{base14-hex-r}} base15: {{base15-hex-r}} base16: {{base16-hex-r}} base17: {{base17-hex-r}} 

## hex-g
base00: {{base00-hex-g}} base01: {{base01-hex-g}} base02: {{base02-hex-g}} base03: {{base03-hex-g}} base04: {{base04-hex-g}} base05: {{base05-hex-g}} base06: {{base06-hex-g}} base07: {{base07-hex-g}} base08: {{base08-hex-g}} base09: {{base09-hex-g}} base0A: {{base0A-hex-g}} base0B: {{base0B-hex-g}} base0C: {{base0C-hex-g}} base0D: {{base0D-hex-g}} base0E: {{base0E-hex-g}} base0F: {{base0F-hex-g}}
base10: {{base10-hex-g}} base11: {{base11-hex-g}} base12: {{base12-hex-g}} base13: {{base13-hex-g}} base14: {{base14-hex-g}} base15: {{base15-hex-g}} base16: {{base16-hex-g}} base17: {{base17-hex-g}} 

## hex-b
base00: {{base00-hex-b}} base01: {{base01-hex-b}} base02: {{base02-hex-b}} base03: {{base03-hex-b}} base04: {{base04-hex-b}} base05: {{base05-hex-b}} base06: {{base06-hex-b}} base07: {{base07-hex-b}} base08: {{base08-hex-b}} base09: {{base09-hex-b}} base0A: {{base0A-hex-b}} base0B: {{base0B-hex-b}} base0C: {{base0C-hex-b}} base0D: {{base0D-hex-b}} base0E: {{base0E-hex-b}} base0F: {{base0F-hex-b}}
base10: {{base10-hex-b}} base11: {{base11-hex-b}} base12: {{base12-hex-b}} base13: {{base13-hex-b}} base14: {{base14-hex-b}} base15: {{base15-hex-b}} base16: {{base16-hex-b}} base17: {{base17-hex-b}} 

## rgb-r
base00: {{base00-rgb-r}} base01: {{base01-rgb-r}} base02: {{base02-rgb-r}} base03: {{base03-rgb-r}} base04: {{base04-rgb-r}} base05: {{base05-rgb-r}} base06: {{base06-rgb-r}} base07: {{base07-rgb-r}} base08: {{base08-rgb-r}} base09: {{base09-rgb-r}} base0A: {{base0A-rgb-r}} base0B: {{base0B-rgb-r}} base0C: {{base0C-rgb-r}} base0D: {{base0D-rgb-r}} base0E: {{base0E-rgb-r}} base0F: {{base0F-rgb-r}}
base10: {{base10-rgb-r}} base11: {{base11-rgb-r}} base12: {{base12-rgb-r}} base13: {{base13-rgb-r}} base14: {{base14-rgb-r}} base15: {{base15-rgb-r}} base16: {{base16-rgb-r}} base17: {{base17-rgb-r}} 

## rgb-g
base00: {{base00-rgb-g}} base01: {{base01-rgb-g}} base02: {{base02-rgb-g}} base03: {{base03-rgb-g}} base04: {{base04-rgb-g}} base05: {{base05-rgb-g}} base06: {{base06-rgb-g}} base07: {{base07-rgb-g}} base08: {{base08-rgb-g}} base09: {{base09-rgb-g}} base0A: {{base0A-rgb-g}} base0B: {{base0B-rgb-g}} base0C: {{base0C-rgb-g}} base0D: {{base0D-rgb-g}} base0E: {{base0E-rgb-g}} base0F: {{base0F-rgb-g}}
base10: {{base10-rgb-g}} base11: {{base11-rgb-g}} base12: {{base12-rgb-g}} base13: {{base13-rgb-g}} base14: {{base14-rgb-g}} base15: {{base15-rgb-g}} base16: {{base16-rgb-g}} base17: {{base17-rgb-g}} 

## rgb-b
base00: {{base00-rgb-b}} base01: {{base01-rgb-b}} base02: {{base02-rgb-b}} base03: {{base03-rgb-b}} base04: {{base04-rgb-b}} base05: {{base05-rgb-b}} base06: {{base06-rgb-b}} base07: {{base07-rgb-b}} base08: {{base08-rgb-b}} base09: {{base09-rgb-b}} base0A: {{base0A-rgb-b}} base0B: {{base0B-rgb-b}} base0C: {{base0C-rgb-b}} base0D: {{base0D-rgb-b}} base0E: {{base0E-rgb-b}} base0F: {{base0F-rgb-b}}
base10: {{base10-rgb-b}} base11: {{base11-rgb-b}} base12: {{base12-rgb-b}} base13: {{base13-rgb-b}} base14: {{base14-rgb-b}} base15: {{base15-rgb-b}} base16: {{base16-rgb-b}} base17: {{base17-rgb-b}}
