name: Lint
on:
  workflow_call:
    inputs:
      cache-key:
        required: false
        type: string
        default: ""
  workflow_dispatch:

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ inputs.cache-key }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt

      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1

  deny:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ inputs.cache-key }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - uses: EmbarkStudios/cargo-deny-action@v2

  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ inputs.cache-key }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-audit
      - name: Cargo audit
        run: cargo audit
