name: Tag release
permissions:
  contents: write
on:
  workflow_call:
    inputs:
      git_tag_name:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      git_tag_name:
        description: Git version tag (eg. v0.9.0)
        required: true

jobs:
  setup-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Add git tag to release
        run: |
          TAG_COMMIT_HASH=$(git rev-parse HEAD)
          git tag ${{ inputs.git_tag_name }} ${TAG_COMMIT_HASH}
          git push origin ${{ inputs.git_tag_name }}
