name: Test
on:
  workflow_call:
    inputs:
      cache-key:
        required: false
        type: string
        default: ""
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ inputs.cache-key }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Cargo test
        run: cargo test --workspace --all-targets --all-features
